.headerContainer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999  ;
  background: linear-gradient( rgb(25,25,25), transparent );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 10px;
  max-width: 1500px;
}

.logo{
  font-size: 15px;
  margin-top: 10px;
  color:white;
  font-family: 'BhuTuka Expanded One', serif;
  position: relative;
}
.logo::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: rgb(198, 160, 89);
 
}

.logo::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top: -5px;
  left: 0;
  background-color: white;
}

.nav {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  transform: translateX(100%);
  transition: 0.5s;
  
}

.show-nav {
    transform: translateX(0);
}

.ul-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
li {
  padding: 10px;
}

 a {
  text-decoration: none;
  font-family: 'Poppins', serif;
  color: rgb(226, 226, 226);
  font-weight: 700;
 
}

.orange{
  color: rgb(198, 160, 89);
}

@media (min-width: 800px) {
  .headerContainer {
    height: 20%;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav {
    display: block;
    position: relative;
    background: none;
    height: auto;
    width: auto;
    padding-top: 20px; 
    transform: translateX(0%);
    transition: 0s;

  }
  .ul-header {
    display: flex;
    flex-direction: row;
  }

  .ul-header li {
    padding-left: 70px;
  }
  .logo{
    font-size: 24px;

  }
}
