.shop-area {
  background: white;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 93%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  text-align: center;
}
.title {
  font-family: "Unica One";
  padding-top: 10px;
  font-size: 30px;
}

.slide-drinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 45%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.image-beer {
  width: 40%;
  max-width: 400px;
}

.name {
  font-size: 30px;
  font-family: "Unica One";
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.name::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;

  background-color: black;
  bottom: -5px;
}

.seta {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.visor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btn {
  width: 40px;
  height: 40px;

  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.adc {
  background-color: rgb(0, 240, 0);
}
.subt {
  background-color: rgb(255, 0, 0);
  padding-bottom: 3px;
}
.adicionar {
  background-color: transparent;
  border: 2px solid black;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-family: "Unica One";
}
.qtd {
  font-size: 20px;
}

.card {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
}
.visor-card {
  background-color: rgb(220, 220, 220);
  border-radius: 3px;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.list {
  padding-top: 5px;
  color: rgb(25, 25, 25);
  position: relative;
  display: flex;
  justify-content: center;
}
.list::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 80%;
  height: 1px;
  background-color: white;
}
.buttons {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.pay {
  width: 90px;
  height: 40px;
  background: white;
  color: rgb(25, 25, 25);
  border: 3px solid rgb(25, 25, 25);
  font-family: "Unica One";
}
.esv {
  width: 130px;
  height: 40px;
  background-color: rgb(198, 160, 89);
  color: black;
  border: 3px solid rgb(198, 160, 89);
  font-family: "Unica One";
}
.total {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: right;
}

.disabled {
  background-color: rgba(198, 160, 89, 0.204);
}
.disabled-1 {
  background-color: rgb(148, 148, 148);
}

@media (min-width: 800px) {
  .shop-area {
    top: 80%;
  }
  .title {

    font-size: 45px;
  }
  
  .slide-drinks {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .beer-area {
    width: 80%;
  }
  .card {
    width: 30%;
    height: 50%;
    position: relative;
  }

  .name::after {
    content: "";

    width: 20%;
  }
  .visor-card {
    background-color: rgb(220, 220, 220);
    height: 100%;
    width: 90%;
  }
}
